# Security
.env
.env.local
.env.*.local

# Python venvs
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Testing
.pytest_cache/

# Database (Too large for Git)
chroma_db/

# Mac System Files
.DS_Store

# Editor
.vscode/

# Project-specific
data/
old_outdated/
assets/

# Frontend
ucsd-Frontend

